@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonLayout.cshtml";
}
@model List<Person>
<div class="page-content">
    @foreach (var item in Model)
    {

        <div id="content">
            <header>
                <div class="cover bg-light">
                    <div class="container px-3">
                        <div class="row">
                            <div class="col-lg-6 p-2"><img class="img-fluid" src="~/Template/images/illustrations/hello3.svg" alt="hello" /></div>
                            <div class="col-lg-6">
                                <div class="mt-5">
                                    <p class="lead text-uppercase mb-1">Merhaba!</p>
                                    <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">Ben @item.Name</h1>
                                    <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">@item.JobTitle</p>
                                    <div class="social-nav" data-aos="fade-up" data-aos-delay="200">
                                        <nav role="navigation">
                                            <ul class="nav justify-content-left">
                                                <li class="nav-item"><a class="nav-link" href="@item.XUrl" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>

                                                <li class="nav-item"><a class="nav-link" href="@item.LinkedInUrl" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
                                                <li class="nav-item"><a class="nav-link" href="@item.GithubUrl" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#contact">İletişim <i class="fas fa-arrow-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wave-bg"></div>
            </header>






        </div>
        @await Component.InvokeAsync("AboutList")
        @await Component.InvokeAsync("ServiceList")
        @await Component.InvokeAsync("SkillList")
        @await Component.InvokeAsync("PortfolioList")
        @await Component.InvokeAsync("ExperienceList")
        @await Component.InvokeAsync("TestimonialList")
    }
</div>
